* {
  margin: 0;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #382d30;
}
.navbar .links {
  margin-left: auto;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
button {
  background-color: #F1356D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.user-link {
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.user-link:hover {
  text-decoration: underline;
}

.loading {
  color: #777;
}

.error {
  color: red;
}